.about-products {
    &-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $spacing-24;
        margin-top: $spacing-40;

        @include media-max-m {
            grid-template-columns: repeat(2, 1fr);
            gap: $spacing-20-m;
            margin-top: $spacing-32-m;
        }
    }

    &-card {
        &-link {
            text-decoration: none;
            display: block;
            height: 100%;
            padding: $spacing-32 $spacing-40;
            background: $cosmo-gray;
            border-radius: var(--border-radius-8);
            transition: all 0.3s ease-in-out;

            &:hover {
                background: $cosmo-dark;

                h3 {
                    color: $cosmo-accent;
                }

                p {
                    color: $cosmo-accent;
                }
            }

            @include media-max-m {
                padding: $spacing-24-m;

                &:hover {
                    background: $cosmo-medium;
        
                    h3 {
                        color: $cosmo-light;
                    }
        
                    p {
                        color: $cosmo-light;
                    }
                }
            }
        }

        img {
            height: vw(48px);
            object-fit: cover;

            @include media-max-m {
                height: vwm(30px);
            }
        }

        h3 {
            @include t-n-14-b($cosmo-light);
            margin-top: $spacing-32;
            transition: all 0.3s ease;

            @include media-max-m {
                margin-top: $spacing-24-m;
            }
        }
        
        p {
            @include t-n-14-r($cosmo-light);
            margin-top: $spacing-8;
            transition: all 0.3s ease;

            @include media-max-m {
                font-size: vwm(10px);
                margin-top: $spacing-8-m;
            }
        }
    }
}

.about-partners {
    margin-top: $spacing-88;

    @include media-max-m {
        margin-top: $spacing-60-m;
    }

    h2 {
        @include h-a-64($cosmo-light);
        text-transform: uppercase;
        padding: 0 $spacing-40;

        @include media-max-m {
            padding: 0;
        }
    }
}

.about-info {
    margin-top: $spacing-88;

    @include media-max-m {
        margin-top: $spacing-60-m;
    }
    
    &-wrapper {
        position: relative;
        background: $color-video;
        border-radius: var(--border-radius-8);

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius-8);
            object-fit: cover;
            mix-blend-mode: soft-light;
        }
    }

    &-block {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        padding: $spacing-56 $spacing-40 $spacing-64;

        @include media-max-m {
            padding: $spacing-24-m $spacing-32-m $spacing-32-m;
        }
    }

    &-sign {
        @include t-n-12($cosmo-accent);
    }

    h2 {
        @include h-a-64($cosmo-light);
        margin-top: $spacing-20;

        @include media-max-m {
            margin-top: $spacing-20-m;
        }
    }

    &-text {
        @include t-n-16-r($cosmo-light);
        margin-top: $spacing-88;
        max-width: vw(540px);

        @include media-max-m {
            order: 4;
            max-width: 100%;
            margin-top: $spacing-40-m;
        }
    }

    &-items {
        display: flex;
        justify-content: space-between;
        margin-top: $spacing-88;
        padding-right: $spacing-20;

        @include media-max-m {
            flex-direction: column;
            margin-top: vwm(36px);
            padding-right: 0;
        }
    }

    &-item {
        @include media-max-m {
            margin-top: $spacing-20-m;

            &:first-child {
                margin-top: 0;
            }
        }

        h3 {
            font-family: "Actay", sans-serif;
            font-weight: 400;
            font-size: vw(128px);
            line-height: 100%;
            color: $cosmo-light;

            @include media-max-m {
                font-weight: 400;
                font-size: vwm(64px);
                line-height: 140%;
            }
    
            span {
                font-size: vw(40px);
                line-height: 120%;

                @include media-max-m {
                    font-size: vwm(32px);
                }
            }
        }

        p {
            @include h-n-24($cosmo-light);
        }
    }
}

.about-production {
    margin-top: $spacing-88;
    
    @include media-max-m {
        margin-top: $spacing-60-m;
    }

    &-item {
        display: flex;

        &:nth-child(2n) {
            flex-direction: row-reverse;
        }

        @include media-max-m {
            flex-direction: column;
            margin-top: $spacing-32-m;
            
            &:first-child {
                margin-top: 0;
            }

            &:nth-child(2n) {
                flex-direction: column;
            }
        }

        img {
            width: vw(668px);
            border-radius: var(--border-radius-8);

            @include media-max-m {
                width: 100%;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: $spacing-24 vw(115px);

            :first-child {
                margin-top: 0 !important;
            }

            :last-child {
                margin-bottom: 0 !important;
            }

            @include media-max-m {
                padding: $spacing-24-m 0 0 0;
            }

            h2 {
                display: block;
                @include h-a-40($cosmo-light);
                margin: $spacing-16 0 $spacing-48 0;

                @include media-max-m {
                    margin: $spacing-8-m 0 0 0;
                }
            }

            h4 {
                display: block;
                @include t-a-20($cosmo-light);
                margin-top: $spacing-16;

                @include media-max-m {
                    margin-top: $spacing-16-m;
                }
            }

            p {
                display: block;
                @include t-n-16-r($cosmo-light);
                margin: $spacing-24 0 0 0;
                
                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                @include media-max-m {
                    margin: $spacing-20-m 0 0 0;
                }
            }

            ul {
                display: block;
                margin-top: $spacing-24;
                padding-left: $spacing-24;

                @include media-max-m {
                    margin-top: $spacing-20-m;
                    padding-left: $spacing-20-m;
                }

                li {
                    @include t-n-16-r($cosmo-light);
                }
            }
        }
    }
}

.about-img {
    margin-top: $spacing-88;

    @include media-max-m {
        margin-top: $spacing-60-m;
    }

    img {
        border-radius: var(--border-radius-8);
        width: 100%;
        object-fit: cover;
    }
}