.main-banner {
    &-wrapper {
        overflow: hidden;
        position: relative;
        height: vw(580px);
        margin-top: $spacing-24;
        border-radius: var(--border-radius-8);

        @include media-max-m {
            height: auto;
            margin-top: $spacing-20-m;
        }
    }

    &-slider {
        width: 100%;
        height: vw(580px) !important;

        @include media-max-m {
            height: auto !important;
        }

        .swiper-slide-active {
            .main-banner-card {
                .main-banner-card-block {
                    opacity: 1;
                    transform: translate(0, 0) !important;
                }
            }

            .main-banner-card-second {
                .main-banner-card-block {
                    opacity: 1;
                    transform: translate(0, 0) !important;
                }
            }
        }

        @include media-max-m {
            .swiper-slide {
                height: auto;
            }
        }
    }
    
    &-pagination {
        position: absolute;
        z-index: 2;
        bottom: $spacing-40;
        display: flex;
        justify-content: center;
        width: 100%;

        @include media-max-m {
            display: none;
        }        

        .swiper-pagination-bullet {
            width: vw(14px);
            height: vw(4px);
            background: $cosmo-light;
            border-radius: var(--border-radius-6);
            opacity: 0.5;
            transition: all 0.3s ease;

            &.swiper-pagination-bullet-active {
                width: vw(98px);
                height: vw(4px);
                opacity: 1;
            }
        }
    }

    &-card {
        position: relative;
        height: vw(580px);
        border-radius: var(--border-radius-8);
        padding: $spacing-40 $spacing-40 vw(116px) $spacing-40;
        transform: translateZ(0);
        will-change: transform;
        -webkit-mask-image: -webkit-radial-gradient(white, black);

        &::before {
            content: '';
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(25, 24, 23, 0) 0%, rgba(25, 24, 23, 0.8) 100%);
            transform: rotate(-180deg);
            border-radius: var(--border-radius-8);
        }

        @include media-max-m {
            background: $cosmo-gradient2;
            display: flex;
            flex-direction: column;
            background: transparent;
            height: 100%;
            border-radius: var(--border-radius-8);
            padding: 0;

            &::before {
                display: none;
            }
        }

        &-second {
            &::before {
                transform: rotate(0);
            }

            .main-banner-card-block {
                margin-left: auto;
                align-items: flex-end;
                width: vw(800px);
                transform: translate(vw(40px), 0);

                @include media-max-m {
                    transform: translate(0, 0);
                    width: 100%;
                    justify-content: flex-start;
                }

                .main-banner-card-title {
                    text-align: end;
                }

                p {
                    text-align: end;
                }
            }
        }

        &-block {
            position: relative;
            z-index: 4;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            height: 100%;
            border-radius: var(--border-radius-8);
            transform: translate(vw(-40px), 0);
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,;
            opacity: 0;

            @include media-max-m {
                transform: translate(0, 0);
                justify-content: flex-start;
                padding: $spacing-32-m $spacing-24-m;
                background: $cosmo-medium;
                border-radius: 0 0 var(--border-radius-8) var(--border-radius-8);
                opacity: 1;
            }
        }

        &-title {
            @include h-a-64($cosmo-light);
            max-width: vw(756px);
            text-decoration: none;
            word-break: break-word;

            @include media-max-m {
                max-width: 100%;
            }
        }

        p {
            @include t-a-14-r($cosmo-light);
            margin-top: $spacing-24;
            max-width: vw(611px);

            @include media-max-m {
                max-width: 100%;
                margin: $spacing-24-m 0 auto 0;
            }
        }

        &-link {
            @include t-a-14-r($cosmo-light);
            position: relative;
            margin-top: $spacing-32;
            padding-bottom: $spacing-4;
            text-decoration: none;
            opacity: 1;
            transition: all 0.3s ease;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: $cosmo-light;
                transition: all 0.3s ease;
            }
            
            &:hover {
                color: $cosmo-accent;

                &::before {
                    background: $cosmo-accent;
                }
            }

            @include media-max-m {
                display: none;
            }
        }

        &-btn {
            display: none;
    
            @include media-max-m {
                display: flex;
                width: 100%;
                margin-top: $spacing-24-m;
            }
        }

        &-img {
            position: absolute;
            z-index: 1;
            left: 0;
            top: -2px;
            width: 100%;
            height: calc(100% + 2px);
            border-radius: var(--border-radius-8);
            user-select: none;
            pointer-events: none;
            object-fit: cover;

            @include media-max-m {
                display: none;
            }

            &-m {
                display: none;

                @include media-max-m {
                    display: block;
                    flex-shrink: 0;
                    position: static;
                    width: 100%;
                    height: vwm(260px);
                    border-radius: var(--border-radius-8) var(--border-radius-8) 0 0;
                    user-select: none;
                    pointer-events: none;
                    object-fit: cover;
                }
            }
        }
    }

    &-btns {
        position: absolute;
        z-index: 3;
        right: $spacing-40;
        bottom: $spacing-40;
        display: flex;

        @include media-max-m {
            top: vwm(205px);
            right: $spacing-24-m;
            bottom: unset;
        }
    }

    &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        width: vw(28px);
        height: vw(28px);
        margin-left: $spacing-12;
        padding: 0;
        border: none;
        cursor: pointer;

        &:first-child {
            margin-left: 0;
        }

        @include media-max-m {
            width: vwm(28px);
            height: vwm(28px);
            margin-left: $spacing-12-m;
        }

        &:hover {
            svg {
                path {
                    stroke: $cosmo-accent;
                }
            }
        }

        @include media-max-m {
            &:hover {
                svg {
                    path {
                        stroke: $color-white;
                    }
                }
            }
        }

        svg {
            width: vw(24px);
            height: vw(24px);

            @include media-max-m {
                width: vwm(24px);
                height: vwm(24px);
            }

            path {
                transition: all 0.3s ease;
                stroke: $cosmo-light;
            }
        }
    }
}

.main-content {
    margin-top: $spacing-88;

    @include media-max-m {
        margin-top: $spacing-60-m;
    }

    &-tabs {
        padding: 0;
        margin: 0;
        display: flex;
    }

    &-tab {
        position: relative;
        display: flex;
        justify-content: center;
        width: 50%;
        list-style: none;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: $cosmo-dark;
            width: 100%;
            height: 1px;
            transition: all 0.5s ease-in-out;
        }

        &.active {
            &::before {
                background: $cosmo-light;
            }

            a {
                color: $cosmo-light;
            }
        }

        a {
            @include h-n-24($cosmo-dark);
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.5s ease-in-out;
            width: 100%;
            padding: 0 0 $spacing-20 0;

            &:hover {
                color: $cosmo-light;
            }

            @include media-max-m {
                @include h-n-32-l($cosmo-dark);
                padding: 0 0 $spacing-16-m 0;
            }
        }   
    }

    &-items {
        margin-top: $spacing-40;
        padding: 0;

        @include media-max-m {
            margin-top: $spacing-32-m;
        }
    }

    &-item {
        display: none;
        list-style: none;
        transition: all 1s ease;

        &.active {
            display: block;
        }
    } 

    &-category {
        &-card {
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: flex-end;
            height: vw(700px);
            margin-top: $spacing-24;
            padding: $spacing-40;
            border-radius: var(--border-radius-8);
            transform: translateZ(0);
            will-change: transform;
            -webkit-mask-image: -webkit-radial-gradient(white, black);

            &:first-child {
                margin-top: 0;
            }

            &:nth-child(2n) {
                div {
                    flex-direction: row-reverse;
                }
            }
            
            &::before {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, transparent 80%, #000 100%);
                opacity: 0.8;
                pointer-events: none;
                transition: all 0.3s ease;

                @include media-max-m {
                    background: linear-gradient(180deg, transparent 70%, #000 100%);
                }
            }

            &:hover {
                .main-content-category-card-link {
                    opacity: 1;
                }

                img {
                    transform: scale(1.05);
                }
            }

            @include media-max-m {
                height: vwm(500px);
                margin-top: $spacing-32-m;
                padding: $spacing-24-m;
                border-radius: var(--border-radius-8);

                &:hover {
                    .main-content-category-card-link {
                        opacity: 0;
                    }
    
                    img {
                        transform: scale(1);
                    }
                }

                &:nth-child(2n) {
                    div {
                        flex-direction: row;
                    }
                }
            }

            a {
                text-decoration: none;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                transition: transform 0.3s ease-in-out;
                border-radius: var(--border-radius-8);
                object-fit: cover;
                will-change: transform;
                -webkit-mask-image: -webkit-radial-gradient(white, black);
            }

            div {
                position: relative;
                z-index: 2;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            h3 {
                @include h-a-40($cosmo-light);
            }

            &-link {
                position: relative;
                @include t-a-14($cosmo-light);
                transition: all 0.3s ease;
                margin-left: $spacing-20;
                opacity: 0;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: $cosmo-light;
                    transition: all 0.3s ease;
                }

                &:hover {
                    color: $cosmo-accent;
                    
                    &::before {
                        background: $cosmo-accent;
                    }
                }

                @include media-max-m {
                    display: none;
                }
            }
        } 
    }

    &-models {
        &-card {
            display: flex;

            @include media-max-m {
                margin-top: $spacing-32-m;
            }

            &:first-child {
                margin-top: 0;
            }

            &:nth-child(2n) {
                .main-content-models-card-wrapper {
                    flex-direction: row-reverse;
                }
            }

            a {
                text-decoration: none;
            }

            &:hover {
                .main-content-models-card-block {
                    &::before {
                        opacity: 1;
                    }
                }

                .main-content-models-card-content {
                    padding: vw(115px) vw(115px) vw(115px)  vw(80px);
                }
                

                .main-content-models-card-link {
                    opacity: 1;
                    left: vw(80px);
                }

                img {
                    &:nth-child(2) {
                        opacity: 1;
                    }
                }

                &:nth-child(2n) {
                    .main-content-models-card-link {
                        left: vw(162px);
                        opacity: 1;
                    }

                    .main-content-models-card-content {
                        padding: vw(115px) vw(80px) vw(115px) vw(150px);
                    }
                }
            }

            @include media-max-m {
                flex-direction: column;

                &:nth-child(2n) {
                    .main-content-models-card-wrapper {
                        flex-direction: column;
                    }
                }

                &:hover {
                    .main-content-models-card-content {
                        padding: 0;
                    }
                    

                    &:nth-child(2n) {
                        .main-content-models-card-content {
                            padding: 0;
                        }
                    }
                }
            }
            
            &-wrapper {
                display: flex;

                @include media-max-m {
                    flex-direction: column;
                }
            }

            &-block {
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
                height: vw(700px);
                width: vw(668px);
                transform: translateZ(0);
                will-change: transform;
                -webkit-mask-image: -webkit-radial-gradient(white, black);

                @include media-max-m {
                    height: vwm(445px);
                    width: 100%;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: $cosmo-medium;
                    width: 100%;
                    height: 100%;
                    border-radius: var(--border-radius-8);
                    opacity: 0;
                    transition: opacity 0.4s ease-in-out;
                    
                    @include media-max-m {
                        display: none;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: var(--border-radius-8);
                    object-fit: cover;

                    &:nth-child(2) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: vw(583px);
                        width: vw(450px);
                        opacity: 0;
                        transition: opacity 0.4s ease-in-out;

                        @include media-max-m {
                            display: none;
                        }
                    }
                }
            }

            &-content {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: vw(684px);
                padding: vw(115px);
                transition: all 0.4s ease-in-out;

                @include media-max-m {
                    width: 100%;
                    padding: 0;
                    margin-top: $spacing-20-m;
                }
                
                h3 {
                    @include h-a-40($cosmo-light);
                }

                p {
                    @include t-a-20($cosmo-light);
                    margin-top: $spacing-16;

                    @include media-max-m {
                        @include t-a-14-r($cosmo-light);
                        margin-top: $spacing-8-m;
                    }
                }
            }

            &-link {
                position: absolute;
                bottom: vw(260px);
                left: vw(115px);
                width: auto;
                @include t-a-14($cosmo-light);
                transition: all 0.4s ease-in-out;
                opacity: 0;

                @include media-max-m {
                    display: none;
                }

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: $cosmo-light;
                    transition: all 0.4s ease-in-out;
                }

                &:hover {
                    color: $cosmo-accent;
                    
                    &::before {
                        background: $cosmo-accent;
                    }
                }
            }
        }
    }
}

.main-projects {
    margin-top: $spacing-56;

    @include media-max-m {
        margin-top: $spacing-60-m;
    }

    h2 {
        @include h-a-64($cosmo-light);
        padding: 0 $spacing-40;

        @include media-max-m {
            padding: 0;
        }
    }
    
    &-slider {
        position: relative;
        display: flex;
        width: 100%;
        margin-top: $spacing-40;
        padding-bottom: $spacing-12;

        @include media-max-m {
            width: 100vw;
            margin: $spacing-32-m 0 0 vwm(-15px) !important;
            padding: 0 vwm(15px) 0 !important;

            .swiper-slide {
                height: auto;

                &:nth-child(2n) {
                    .main-projects-card-wrapper {
                        flex-direction: column-reverse;
                        height: 100%;
                    }
    
                    img {
                        border-radius: 0 0 var(--border-radius-8) var(--border-radius-8);
                    }
                }
            }
        }
    }

    &-card {
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        display: flex;
        height: vw(500px);
        margin-left: $spacing-24;
        border-radius: var(--border-radius-8);

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            .main-projects-card-content {
                background: $cosmo-dark;

                &::before {
                    background: $cosmo-dark;
                    left: vw(-20px);
                }
            }
        }

        @include media-max-m {
            height: 100%;
            margin-left: $spacing-24-m;

            &:hover {
                .main-projects-card-content {
                    background: $cosmo-medium;
                }
            }

            &:active {
                .main-projects-card-content {
                    background: $cosmo-dark;
                }
            }
        }

        &-wrapper {
            display: flex;
            height: 100%;

            @include media-max-m {
                flex-direction: column;
                width: 100%;
                height: auto;
            }
        }

        a {
            text-decoration: none;

            @include media-max-m {
                width: 100%;
            }
        }

        &-block {
            @include media-max-m {
                width: 100%;
                height: vwm(260px);
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: vw(437px);
            object-fit: cover;

            @include media-max-m {
                position: static;
                height: vwm(260px);
                width: 100%;
            }
        }

        &-content {
            position: relative;
            z-index: 2;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background: $cosmo-medium;
            width: vw(461px);
            margin-left: vw(437px);
            padding: $spacing-32 $spacing-64;
            transition: all 0.3s ease-in-out;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: vw(21px);
                height: 100%;
                background: $cosmo-medium;
                transition: all 0.3s ease-in-out;
            }

            @include media-max-m {
                width: auto;
                height: 100%;
                margin-left: 0;
                padding: $spacing-24-m $spacing-24-m $spacing-32-m $spacing-24-m;

                &::before {
                    display: none;
                }
            }
        }

        &-text {
            @include t-n-12($cosmo-accent);
        }   

        h3 {
            @include h-n-24($cosmo-light);
            margin-top: $spacing-12;

            @include media-max-m {
                margin-top: $spacing-8-m;
            }
        }

        &-sign {
            display: flex;
            margin-top: $spacing-32;

            @include media-max-m {
                margin-top: $spacing-20-m;
            }

            p {
                @include t-n-12($cosmo-accent);
                margin-left: $spacing-24;

                &:first-child {
                    margin-left: 0;
                }

                @include media-max-m {
                    margin-left: $spacing-24-m;
                }
            }
        }
    }
}