.support {
    margin-top: $spacing-40;

    @include media-max-m {
        margin-top: $spacing-32-m;
    }

    &-nav {
        display: flex;
        padding: 0;

        @include media-max-m {
            overflow-x: auto;
            width: 100vw;
            margin-left: vwm(-15px);
            padding: 0 vwm(15px);
        }

        li {
            flex-shrink: 0;
            list-style: none;
            width: 33.33%;

            @include media-max-m {
                width: auto;
            }

            a {
                @include h-n-24-l($cosmo-dark);
                text-decoration: none;
                text-align: center;
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 0 $spacing-20 $spacing-32 $spacing-20;
                border-bottom: vw(1px) solid $cosmo-dark;
                transition: all 0.4s ease-in-out;

                &.active {
                    color: $cosmo-light;
                    border-bottom: vw(1px) solid $cosmo-light;
                }

                &:hover {
                    color: $cosmo-light;
                    border-bottom: vw(1px) solid $cosmo-dark;
                }

                @include media-max-m {
                    @include t-n-14-l;
                    padding: 0 $spacing-20-m vwm(14px) $spacing-20-m;
                    border-bottom: vwm(1px) solid $cosmo-dark;

                    &:hover {
                        color: $cosmo-dark;
                        border-bottom: vwm(1px) solid $cosmo-dark;
                    }

                    &.active {
                        color: $cosmo-light;
                        border-bottom: vwm(1px) solid $cosmo-light;

                        &:hover {
                            color: $cosmo-light;
                            border-bottom: vwm(1px) solid $cosmo-light;
                        }
                    }
                }
            }
        }
    }

    &-items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: $spacing-24;
        margin-top: $spacing-40;

        @include media-max-m {
            grid-template-columns: repeat(2, 1fr);
            gap: $spacing-12-m;
            margin-top: $spacing-20-m;
        }
    }

    &-card {
        &-link {
            display: flex;
            text-decoration: none;
            margin: 0;
            padding: 0;
        }

        &:hover {
            .support-card-content {
                background: $cosmo-dark;
                
                @include media-max-m {
                    background: $cosmo-medium;
                }

                &::before {
                    top: vw(-20px);
                    background: $cosmo-dark;
                }
            }
        }

        &-wrapper {
            height: 100%;
            background: $cosmo-medium;
            border-radius: var(--border-radius-8);
        }

        img {
            position: relative;
            height: vw(220px);
            width: 100%;
            margin: 0;
            padding: 0;
            border-radius: var(--border-radius-8) var(--border-radius-8) 0 0;
            object-fit: cover;

            @include media-max-m {
                height: vwm(165px);
            }
        }

        &-content {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background: $cosmo-medium;
            height: calc(100% - vw(220px));
            padding: $spacing-32  $spacing-40;
            border-radius: 0 0 var(--border-radius-8) var(--border-radius-8);
            transition: all 0.3s ease-in-out;

            @include media-max-m {
                height: calc(100% - vwm(165px));
                padding: $spacing-16-m;

                &::before {
                    display: none;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: vw(20);
                background: $cosmo-medium;
                transition: all 0.3s ease-in-out;
            }

            h3 {
                @include t-a-20($cosmo-light);
                margin-bottom: $spacing-14;
                transition: all 0.3s ease-in-out;

                @include media-max-m {
                    margin-bottom: $spacing-8-m;
                }
            }
        }

        &-download {
            @include t-n-14-r($cosmo-light);
            text-decoration: none;
            display: flex;
            align-items: baseline;
            margin-top: auto;
            transition: all 0.3s ease;

            svg {
                margin-right: $spacing-12;
                margin-bottom: vw(4px);

                @include media-max-m {
                    margin-right: $spacing-12-m;
                    margin-bottom: vwm(4px);
                }

                path {
                    transition: all 0.3s ease;
                }
            }
            
            &:hover {
                color: $cosmo-accent;

                path {
                    fill: $cosmo-accent;
                }
            }
        }
    }

    &-bottom {
        display: flex;
        justify-content: center;
        margin-top: $spacing-40;

        @include media-max-m {
            margin-top: $spacing-20-m;
        }
    }

    &-btn {
        @include media-max-m {
            width: 100%;
        }
    }
}