/*select*/

.select-smartfilter {
    position: relative;
    z-index: 3;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.select-smartfilter.active {
    z-index: 4;
}

.select-smartfilter.active .select-head {
    color: #F8EBE2;
    background: #121212;
    border: 1px solid #121212;
}

.select-smartfilter.active .select-head svg {
    transform: rotate(180deg);
}

.select-smartfilter.active .select-drop {
    bottom: -0.5555555556vw;
    opacity: 1;
    pointer-events: all;
}

@media screen and (max-width: 992px) {
    .select-smartfilter.active .select-drop {
        bottom: -2.1333333333vw;
    }
}

.select-smartfilter.disabled {
    pointer-events: none;
}

.select-smartfilter.disabled .select-head {
    color: #484443;
    border: 1px solid #484443;
}

.select-smartfilter ul {
    padding: 0 0.5555555556vw 0 0;
}

@media screen and (max-width: 992px) {
    .select-smartfilter ul {
        padding: 0 2.1333333333vw 0 0;
    }
}

.select-smartfilter ul li {
    list-style: none;
}