// Кастомные стили темы оформления
* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    margin: 0;
    font-variant-numeric: lining-nums;
}

@import "theme";
@import "fonts";

html {
    scrollbar-gutter: stable;
}

body {
    overflow-x: hidden;
    background: $cosmo-gradient;
    min-height: 100vh;

    &::-webkit-scrollbar {
        width: 8px; 
        background: transparent;
    }
    
    &::-webkit-scrollbar-track {
        background: $cosmo-light;
        border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
        width: 8px;
        background-color: $cosmo-accent; 
        border-radius: 16px; 
        border: 3px solid $cosmo-accent;
    }

    &.lock {
        overflow: hidden;
    }
}

video::-webkit-media-controls {
    display: none !important;
}

a, button, input {
    &:focus-visible {
        outline: 3px solid $state-focused;
    }
}

img {
    max-width: 100%;
}

.container {
    max-width: vw(1352px);
    width: 100%;
    margin: 0 vw(40px);

    @include media-max-m {
        max-width: vwm(345px);
        margin: 0 vwm(15px);
    }
}

.page {
    padding-top: vw(104px);

    @include media-max-m {
        padding-top: vwm(90px);
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: $spacing-24 0 0 0;
    transition: all 0.3s ease-in-out;

    @include media-max-m {
        padding: $spacing-20-m 0 0 0;
    }

    &.hidden {
        top: vw(-120px);

        @include media-max-m {
            top: vwm(-100px);
        }
    }

    &.active {
        padding: $spacing-12 0 0 0;

        @include media-max-m {
            padding: $spacing-8-m 0 0 0;
        }

        .header-menu {
            padding: vw(80px) 0 vw(90px) 0;
        }
    }

    &-wrapper {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $color-black-80;
        padding: $spacing-12 vw(55px) $spacing-12 $spacing-40;
        border-radius: var(--border-radius-8);
        
        @include media-max-m {
            padding: $spacing-16-m $spacing-24-m $spacing-24-m $spacing-24-m;
            align-items: flex-end;
        }
    }

    &-logo {
        padding-bottom: $spacing-12;

        @include media-max-m {
            padding-bottom: 0;
        }
        
        img {
            width: vw(200px);
            height: vw(38px);

            @include media-max-m {
                width: vwm(123px);
                height: vwm(24px);
            }
        }
    }

    &-nav {
        display: flex;

        @include media-max-m {
            display: none;
        }

        li {
            list-style: none;
            margin-left:  $spacing-40;

            a {
                @include t-a-12($color-white);
                text-decoration: none;
                transition: all 0.3s ease;
                
                &:hover {
                    color: $cosmo-accent;
                }
            }
        }
    }

    &-btn {
        display: none;
        width: vwm(24px);
        height: vwm(24px);
        padding: $spacing-4-m;
        background: transparent;
        border: none;

        @include media-max-m {
            display: block;
        }

        svg {
            width: vwm(16px);
            height: vwm(16px);
        }
    }

    &-menu {
        position: fixed;
        z-index: 4;
        top: 0;
        left: 0;
        background: $color-video;
        width: 100%;
        height: 100%;
        padding: vw(90px) 0;
        opacity: 0;
        pointer-events: none;
        user-select: none;
        transition: all 0.2s ease;

        &::-webkit-scrollbar {
            width: 4px; 
        }

        &::-webkit-scrollbar-track {
            background: $cosmo-light;
            width: 4px;
            border-radius: 16px;
        }

        &::-webkit-scrollbar-thumb {
            width: 4px;
            background-color: $cosmo-accent;
            border-radius: 16px;
            border: 3px solid $cosmo-accent;
        }

        @include media-max-m {
            display: none;
        }

        &.active {
            opacity: 1;
            display: block;
            pointer-events: all;

            .header-menu-wrapper {
                top: 0;
            }

            @include media-max-m {
                display: none;
            }

            video {
                display: block;
            }
        }

        &-bg {
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        video {
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            mix-blend-mode: soft-light;
            display: none;
        }

        &-close {
            position: absolute;
            z-index: 9;
            top: vw(54px);
            right: vw(40px);
            background: transparent;
            width: vw(24px);
            height: vw(24px);
            padding: 0;
            border: none;
            cursor: pointer;

            &:hover {
                svg {
                    path {
                        stroke: $cosmo-accent;
                    }
                }
            }

            svg {
                width: vw(24px);
                height: vw(24px);

                path {
                    transition: all 0.3s ease;
                }
            }
        }

        &-wrapper {
            position: relative;
            z-index: 3;
            top: vw(-40px);
            background: $color-black-80;
            min-height: vw(300px);
            border-radius: 0 0 var(--border-radius-8) var(--border-radius-8);
            transition: all 0.3s ease-in-out;
            margin-bottom: vw(20px);

            ul {
                li {
                    list-style: none;
                }
            }
        }

        &-items {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: vw(54px) vw(40px);
            min-height: vw(456px);
        }

        &-item {
            width: vw(411px);
            margin-top: vw(18px);
            
            &:first-child {
                margin-top: 0;
            }

            &.active {
                img {
                    opacity: 1;
                }

                p {
                    color: $cosmo-accent;
                }
            }

            &-img {
                position: absolute;
                left: vw(497px);
                top: vw(54px);
                width: vw(674px);
                height: vw(348px);
                border-radius: var(--border-radius-8);
                opacity: 0;
            }

            p {
                @include t-a-20($cosmo-light);
                cursor: pointer;
            }
        }

        &-submenu {
            position: absolute;
            z-index: 6;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            max-height: calc(100vh - vw(114px));
            background: $color-black-80;
            padding: vw(51px) $spacing-20 vw(51px) $spacing-40;
            border-radius: 0 0 var(--border-radius-8) var(--border-radius-8);
            display: none;

            &.active {
                display: flex;
            }

            &-close {
                @include t-a-16($cosmo-accent);
                text-align: start;
                display: flex;
                align-items: flex-start;
                background: transparent;
                height: vw(24px);
                padding: 0;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    color: $cosmo-light;
                }

                svg {
                    margin-right: vw(12px);
                }
            }

            ul {
                overflow-x: hidden;
                overflow-y: auto;
                display: grid;
                align-items: flex-start;
                grid-template-columns: repeat(6, 1fr);
                gap: $spacing-24;
                padding: 0 $spacing-20 0 0;
                min-height: vw(310px);
                height: 100%;
                width: 100%;
                margin-top: $spacing-20;

                &::-webkit-scrollbar {
                    width: 4px; 
                }

                &::-webkit-scrollbar-track {
                    background: $cosmo-light;
                    width: 4px;
                    border-radius: 16px;
                }

                &::-webkit-scrollbar-thumb {
                    width: 4px;
                    background-color: $cosmo-accent;
                    border-radius: 16px;
                    border: 3px solid $cosmo-accent;
                }

                li {
                    &:hover {
                        a {
                            img {
                                transform: scale(1.05);
                            }
                            
                            h3 {
                                color: $cosmo-accent;
                            }
                        }
                    }

                    a {
                        @include t-n-14-r($cosmo-light);
                        text-decoration: none;

                        div {
                            overflow: hidden;
                            width: 100%;
                            height: vw(193px);
                            border-radius: var(--border-radius-8);

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: var(--border-radius-8);
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }

                    h3 {
                        @include t-n-14-r($cosmo-light);
                        margin: $spacing-24 0 $spacing-14 0;
                        word-break: break-word;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }
}

.burger {
    display: none;
    overflow: auto;
    position: fixed;
    z-index: 20;
    top: 0;
    right: -105vw;
    width: 100%;
    height: 100%;
    background: $cosmo-gradient;
    padding: $spacing-20-m vwm(15px);
    transition: all 0.4s ease;

    @include media-max-m {
        display: block;
    }

    &.active {
        right: 0;
    }

    &-wrapper {
        overflow-x: hidden;
        position: relative;
        z-index: 2;

        &-block {
            position: relative;
            display: flex;
            flex-direction: column;
            background: $color-video;
            width: 100%;
            min-height: 100%;
            border-radius: var(--border-radius-8);
            padding: $spacing-24-m;
        }

        video {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius-8);
            object-fit: cover;
            mix-blend-mode: soft-light;
            pointer-events: none;
            user-select: none;
        }
    }

    &-top {
        display: flex;
        justify-content: space-between;
    }

    &-logo {
        width: vwm(123px);
        height: vwm(24px);
        margin-top: vwm(-7px);

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-close {
        background: transparent;
        padding: 0;
        border: none;

        svg {
            width: vwm(18px);
            height: vwm(19px);
        }
    }

    &-nav {
        margin: $spacing-48-m 0 $spacing-64-m 0;
        padding: 0;

        li {
            list-style: none;
            margin-top: $spacing-32-m;

            &:first-child {
                margin-top: 0;
            }

            a {
                @include t-a-16($cosmo-light);
                text-decoration: none;
            }
        }
    }
    &-item {
        &-link {
            display: inline-block;
            width: 100%;
        }

        &-level {
            display: flex !important;
            align-items: center;
            justify-content: space-between;
            width: 100%;
    
            svg {
                width: vwm(17px);
                height: vwm(19px);
            }
        }
    }

    &-submenu {
        overflow-x: hidden;
        position: absolute;
        top: 0;
        right: -105vw;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: vwm(345px);
        background: $color-video;
        padding: $spacing-24-m;
        border-radius: var(--border-radius-8);
        transition: all 0.3s ease;

        &.active {
            right: 0;
        }

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .burger-close {
                margin: 0;
            }
        }

        &-title {
            @include t-a-12($cosmo-light);
        }

        &-nav {
            padding: 0;
            margin: $spacing-48-m 0 $spacing-64-m 0;
        }

        &-close {
            background: transparent;
            padding: 0;
            border: none;
            width: vwm(20px);
            height: vwm(20px);
    
            svg {
                width: vwm(17px);
                height: vwm(19px);
            }
        }

        &-card {
            margin-top: $spacing-24-m !important;

            &:first-child {
                margin-top: 0 !important;
            }

            a {
                display: flex;
            }

            img {
                width: vwm(96px);
                height: vwm(96px);
                border-radius: var(--border-radius-8);
            }

            p {
                @include t-n-16($cosmo-light);
                word-wrap: break-word;
                width: vwm(183px);
                margin-left: vwm(18px);
            }
        }
    }

    &-contacts {
        margin-top: auto;

        p {
            @include t-n-16-r($color-white);
            max-width: vwm(230px);
            margin-top: $spacing-20-m;
        }
    
        button {
            margin-top: $spacing-32-m;
            width: vwm(212px);
        }
    }

    &-socials {
        display: flex;
    }

    &-social {
        display: flex;
        align-items: center;
        justify-content: center;
        width: vwm(32px);
        height: vwm(32px);
        margin-left: $spacing-20-m;

        svg {
            width: vwm(32px);
            height: vwm(32px);
        }

        &:first-child {
            margin-left: 0;
        }
    }
}

.footer {
    position: relative;
    z-index: 3;
    margin-top: $spacing-88;
    margin-bottom: $spacing-24;

    @include media-max-m {
        margin-top: $spacing-60-m;
        margin-bottom: $spacing-20-m;
    }

    &-wrapper {
        position: relative;
        background: $color-video;
        padding: $spacing-40;
        border-radius: var(--border-radius-8);

        @include media-max-m {
            padding: $spacing-24-m;
        }

        video {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: var(--border-radius-8);
            mix-blend-mode: soft-light;
        }
    }

    &-top {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;

        @include media-max-m {
            flex-direction: column;
        }

        &-block {
            position: relative;

            @include media-max-m {
                margin-top: $spacing-40-m;
            }
        }
    }

    &-logo {
        margin-top: vw(-10px);

        @include media-max-m {
            margin-top: 0;
        }
        
        img {
            width: vw(185px);
            height: vw(35px);

            @include media-max-m {
                width: 100%;
                height: vwm(55px);
            }
        }

        p {
            @include t-n-14-r($cosmo-light);
            margin-top: $spacing-16;

            @include media-max-m {
                margin-top: $spacing-24-m;
            }
        }
    }

    &-nav {
        position: relative;
        display: flex;
        padding: 0;

        @include media-max-m {
            flex-direction: column;
        }

        li {
            list-style: none;
            margin-left: $spacing-16;

            @include media-max-m {
                margin-left: 0;
                margin-top: $spacing-16-m;

                &:first-child {
                    margin-top: 0;
                }
            }

            a {
                @include t-n-16-r($cosmo-light);
                text-decoration: none;
                transition: all 0.3s ease;

                &:hover {
                    color: $cosmo-accent;
                }
            }
        }
    }

    &-bottom {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: vw(112px);

        @include media-max-m {
            flex-direction: column;
            align-items: flex-start;
        }

        @include media-max-m {
            margin-top: $spacing-40-m;
        }

        &-block {
            display: flex;
            align-items: center;

            @include media-max-m {
                flex-direction: column;
                align-items: flex-start;
            }

            
            button {
                margin-left: $spacing-24;

                @include media-max-m {
                    margin-left: 0;
                }
            }
        }

        &-link {
            @include t-n-12($cosmo-light);
            margin-left: $spacing-16;
            transition: all 0.3s ease;
            text-decoration: none;
    
            &:hover {
                color: $cosmo-accent;
            }

            @include media-max-m {
                margin-left: 0;
                margin-top: $spacing-20-m;


                &:first-child {
                    margin-top: $spacing-32-m;
                }
            }
        }
    }

    &-contacts {
        display: flex;

        @include media-max-m {
            display: none;
        }

        &-mobile {
            display: none;

            @include media-max-m {
                position: absolute;
                right: 0;
                top: 0;
                display: flex;
            }
        }
    }

    &-contact {
        width: vw(32px);
        height: vw(32px);
        margin-left: $spacing-20;

        &:first-child {
            margin-left: 0;
        }

        @include media-max-m {
            width: vwm(32px);
            height: vwm(32px);
            margin-left: $spacing-20-m;
        }

        &:hover {
            svg {
                path {
                    fill: $cosmo-accent;
                }
            }
        }

        svg {
            width: vw(32px);
            height: vw(32px);

            @include media-max-m {
                width: vwm(32px);
                height: vwm(32px);
            }

            path {
                transition: all 0.3s ease;
            }
        }
    }

    &-address {
        @include t-n-16($cosmo-light);
        margin-left: $spacing-24;

        @include media-max-m {
            margin-left: 0;
            margin-top: $spacing-40-m;
        }
    }
}

.btn {
    &-primary {
        @include t-a-14-r($cosmo-gray);
        text-decoration: none;
        text-transform: uppercase;
        line-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $cosmo-light;
        height: vw(48px);
        padding: vw(16px) $spacing-32 vw(12px) $spacing-32;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
        touch-action: none;

        &:hover {
            background: $cosmo-light-hover;
        }

        &:active {
            transition: all 0.1s ease;
            color: $cosmo-light;
            background: $cosmo-dark;
        }

        @include media-max-m {
            height: vwm(48px);
            padding: vwm(13px) $spacing-32-m vwm(12px);

            &:hover {
                background: $cosmo-light;
            }
    
            &:active {
                transition: all 0.1s ease;
                color: $cosmo-light;
                background: $cosmo-dark;
            }
        }
    }

    &-secondary {
        @include t-a-14-r($cosmo-light);
        text-decoration: none;
        text-transform: uppercase;
        line-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        height: vw(48px);
        padding: vw(16px) $spacing-32 vw(12px) $spacing-32;
        border: 1px solid $cosmo-light;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
        touch-action: none;

        &:hover {
            color: $cosmo-gray;
            background: $cosmo-light;
        }

        &:active {
            transition: all 0.1s ease;
            color: $cosmo-light;
            background: $cosmo-dark;
            border: 1px solid $cosmo-dark;
        }

        @include media-max-m {
            height: vwm(48px);
            padding: vwm(13px) $spacing-32-m vwm(12px);

            &:hover {
                color: $cosmo-light;
                background: transparent;
            }
    
            &:active {
                transition: all 0.1s ease;
                color: $cosmo-light;
                background: $cosmo-dark;
            }
        }
    }
}

.section {
    &-banner {
        margin-top: $spacing-24;

        @include media-max-m {
            margin-top: $spacing-20-m;
        }

        &-wrapper {
            position: relative;
            background: $color-video;
            border-radius: var(--border-radius-8);
            padding: vw(53px);

            @include media-max-m {
                padding: $spacing-24-m;
            }
            
            video {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: var(--border-radius-8);
                object-fit: cover;
                mix-blend-mode: soft-light;
            }
        }

        &-block {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-name {
            @include h-n-24-l($cosmo-light);
            text-align: center;

            @include media-max-m {
                @include t-n-20-l($cosmo-light);
            }
        }

        &-title {
            @include h-a-48($cosmo-light);
            text-align: center;
            margin: $spacing-14 0;

            @include media-max-m {
                word-break: break-word;
                margin-top: $spacing-8-m 0;
                @include h-a-64($cosmo-light);
            }
        }

        &-text {
            @include t-a-14-r($cosmo-light);
            text-align: center;
            max-width: vw(611px);

            @include media-max-m {
                max-width: 100%;
            }
        }

        &-socials {
            display: flex;
            margin-top: vw(2px);

            @include media-max-m {
                margin-top: $spacing-8-m;
            }
        }
    
        &-social {
            display: flex;
            align-items: center;
            justify-content: center;
            width: vw(16px);
            height: vw(16px);
            margin-left: $spacing-16;
    
            &:first-child {
                margin-left: 0;
            }
            
            @include media-max-m {
                width: vwm(16px);
                height: vwm(16px);
                margin-left: $spacing-16-m;
            }

            &:hover {
                svg {
                    path {
                        fill: $cosmo-accent;
                    }
                }
            }
    
            svg {
                width: vw(16px);
                height: vw(16px);

                @include media-max-m {
                    width: vwm(16px);
                    height: vwm(16px);
                }
                
                path {
                    transition: all 0.3s ease;
                }
            }
        }
    }
}

.small-margin-top {
    margin-top: $spacing-40;

    @include media-max-m {
        margin-top: $spacing-32-m;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 22;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    @include media-max-m {
        overflow-y: auto;
    }

    &-accept {
        @include media-max-m {
            display: flex;
            align-items: center;
        }

        .popup-wrapper {
            max-width: vw(437px);

            @include media-max-m {
                margin: auto 0;
                max-width: vwm(345px);
            }
        }
    }

    &-background {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #151515;
        opacity: 0.5;
    }

    &-wrapper {
        position: absolute;
        z-index: 4;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $color-white;
        display: flex;
        flex-direction: column;
        max-width: vw(554px);
        padding: $spacing-32;
        border-radius: var(--border-radius-8);

        @include media-max-m {
            position: relative;
            top: 0;
            left: vwm(15px);
            transform: translate(0, 0);
            max-width: vwm(345px);
            width: 100%;
            padding: $spacing-24-m $spacing-24-m $spacing-24-m $spacing-32-m;
            margin: $spacing-12-m 0;
        }
    }

    &-head {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        h3 {
            @include h-n-32($color-black);
        }
    }

    &-close {
        background: transparent;
        padding: 0;
        border: none;
        cursor: pointer;
        color: $cosmo-dark;
        transition: all 0.3s ease;

        &:hover {
            color: $cosmo-accent;
        }

        svg {
            width: vw(24px);
            height: vw(24px);
        }

        @include media-max-m {
            svg {
                width: vwm(24px);
                height: vwm(24px);
            }
        }
    }

    &-text {
        @include t-n-14($color-black);
        margin-top: $spacing-32;

        @include media-max-m {
            margin-top: $spacing-24-m;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        margin-top: $spacing-32;

        @include media-max-m {
            margin-top: $spacing-24-m;
        }
    }

    &-inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $spacing-16;

        @include media-max-m {
            grid-template-columns: 1fr;
            gap: $spacing-16-m;
        }
    }

    &-textarea {
        margin-top: $spacing-16;

        @include media-max-m {
            margin-top: $spacing-16-m;
        }
    }

    &-form {
        &-bottom {
            display: flex;
            justify-content: space-between;
            margin-top: $spacing-32;
            
            @include media-max-m {
                flex-direction: column;
                margin-top: $spacing-24-m;
            }
        }

        &-btn {
            width: vw(217px);

            @include media-max-m {
                width: 100%; 
                margin-top: $spacing-16-m;
            }
        }

        &-policy {
            display: flex;
            align-items: center;

            p {
                @include t-n-10($color-black-70);
                max-width: vw(164px);
                margin-left: $spacing-12;

                @include media-max-m {
                    max-width: 100%;
                    margin-left: $spacing-12-m;
                }
            }

            a {
                @include t-n-10($color-black-70);
                text-decoration: none;
                transition: all 0.3s ease;

                &:hover {
                    color: $cosmo-accent;
                }
            }
        }
    }
}

.input {
    position: relative;
    display: flex;
    flex-direction: column;

    span {
        @include t-n-12($cosmo-dark);
    }

    input {
        @include t-n-14($cosmo-dark);
        margin-top: $spacing-8;
        padding: $spacing-14 $spacing-20;
        border: vw(1px) solid $cosmo-light-hover;
        border-radius: var((--border-radius-6));
        transition: all 0.3s ease-in-out;
        touch-action: none;

        &::placeholder {
            @include t-n-14($color-gray);
        }

        &:hover {
            border: vw(1px) solid $cosmo-accent;
            box-shadow: $main-shadow;
        }

        &:active {
            border: vw(1px) solid $cosmo-accent;
            box-shadow: $main-shadow;
        }

        &:focus {
            border: vw(1px) solid $cosmo-accent;
            box-shadow: $main-shadow;
            outline: none;
        }

        @include media-max-m {
            margin-top: $spacing-8-m;
            padding: $spacing-12-m $spacing-20-m;
            border: vwm(1px) solid $cosmo-light-hover;
            transition: all 0.3s ease-in-out;
    
            &::placeholder {
                @include t-n-14($color-gray);
            }
    
            &:hover {
                border: vwm(1px) solid $cosmo-light-hover;
            }
    
            &:active {
                border: vwm(1px) solid $cosmo-accent;
                box-shadow: $main-shadow;
            }
    
            &:focus {
                border: vwm(1px) solid $cosmo-accent;
                box-shadow: $main-shadow;
            }
        }
    }

    &.error {
        span {
            color: $state-error;
        }

        input {
            border: vw(1px) solid $state-error;

            @include media-max-m {
                border: vwm(1px) solid $state-error;
            }
        }
    }
    
    &.success {
        input {
            border: vw(1px) solid $state-success;

            @include media-max-m {
                border: vwm(1px) solid $state-success;
            }
        }
    }
}

.textarea {
    position: relative;
    display: flex;
    flex-direction: column;

    span {
        @include t-n-12($cosmo-dark);
    }

    textarea {
        @include t-n-14($cosmo-dark);
        height: vw(84px);
        margin-top: $spacing-8;
        padding: $spacing-14 $spacing-20;
        border: vw(1px) solid $cosmo-light-hover;
        border-radius: var((--border-radius-6));
        transition: all 0.3s ease-in-out;
        resize: none;
        touch-action: none;

        &::placeholder {
            @include t-n-14($color-gray);
        }

        &:hover {
            border: vw(1px) solid $cosmo-accent;
            box-shadow: $main-shadow;
        }

        &:active {
            border: vw(1px) solid $cosmo-accent;
            box-shadow: $main-shadow;
        }

        &:focus {
            border: vw(1px) solid $cosmo-accent;
            box-shadow: $main-shadow;
            outline: none;
        }

        @include media-max-m {
            height: vwm(84px);
            margin-top: $spacing-8-m;
            padding: $spacing-12-m $spacing-20-m;
            border: vwm(1px) solid $cosmo-light-hover;

            &:hover {
                border: vwm(1px) solid $cosmo-light-hover;
            }
    
            &:active {
                border: vwm(1px) solid $cosmo-accent;
                box-shadow: $main-shadow;
            }
    
            &:focus {
                border: vwm(1px) solid $cosmo-accent;
                box-shadow: $main-shadow;
            }
        }
    }

    &.error {
        span {
            color: $state-error;
        }

        textarea {
            border: vw(1px) solid $state-error;

            @include media-max-m {
                border: vw(1px) solid $state-error;
            }
        }
    }
    
    &.success {
        textarea {
            border: vw(1px) solid $state-success;

            @include media-max-m {
                border: vw(1px) solid $state-success;
            }
        }
    }
}

.checkbox {
    flex-shrink: 0;
    position: relative;
    width: vw(16px);
    height: vw(16px);
    border: vw(1px) solid $color-black-70;
    border-radius: vw(2px);
    cursor: pointer;

    &:hover {
        border: vw(1px) solid $cosmo-accent;
    }

    &:active {
        border: vw(1px) solid $color-black-70;
    }

    @include media-max-m {
        width: vwm(16px);
        height: vwm(16px);
        border: vwm(1px) solid $color-black-70;
        border-radius: vwm(2px);

        &:hover {
            border: vwm(1px) solid $color-black-70;
        }
    }
    
    input {
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
        touch-action: none;
    }

    .checked {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: vw(10px) vw(8px);
        background-repeat: no-repeat;
        background-position: center;

        @include media-max-m {
            background-size: vwm(10px) vwm(8px);
        }
    }

    input[type="checkbox"]:checked + .checked {
        background-image: url('../img/icons/checkbox-accept.svg');
    }

    input[type="checkbox"]:focus + .checked{
        outline: 3px solid $state-focused;
    }
}

.select {
    position: relative;
    z-index: 3;
    width: 100%;
    user-select: none;

    &.active {
        z-index: 4;

        .select-head {
            color: $cosmo-light;
            background: $cosmo-dark;
            border: 1px solid $cosmo-dark;

            svg {
                transform: rotate(180deg);
            }
        }

        .select-drop {
            bottom: vw(-8px);
            opacity: 1;
            pointer-events: all;

            @include media-max-m {
                bottom: vwm(-8px);
            }
        }
    }

    &.disabled {
        pointer-events: none;

        .select-head {
            color: $cosmo-gray;
            border: 1px solid $cosmo-gray;
        }
    }

    &-head {
        position: relative;
        z-index: 5;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: vw(48px);
        color: $cosmo-light;
        padding: $spacing-14 $spacing-20;
        border: vw(1px) solid $cosmo-light;
        border-radius: var(--border-radius-6);
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $cosmo-gray;
            border: vw(1px) solid $cosmo-light-hover;
            background: $cosmo-light-hover;
        }

        @include media-max-m {
            height: vwm(48px);
            color: $cosmo-light;
            padding: $spacing-12-m $spacing-20-m;
            border: vwm(1px) solid $cosmo-light;

            &:hover {
                color: $cosmo-light;
                border: vwm(1px) solid $cosmo-light-hover;
                background: transparent;
            }
        }

        input {
            touch-action: none;
        }

        span {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        svg {
            flex-shrink: 0;
            width: vw(16px);
            height: vw(16px);
            margin-left: $spacing-12;
            transition: transform 0.3s ease-in-out;

            @include media-max-m {
                width: vwm(16px);
                height: vwm(16px);
                margin-left: $spacing-12-m;
            }
        }
    }

    &-drop {
        position: absolute;
        left: 0;
        right: 0;
        bottom: vw(8px);
        transform: translate(0, 100%);
        background: $cosmo-dark;
        border-radius: var(--border-radius-6);
        padding: $spacing-14 $spacing-12 $spacing-14 $spacing-20;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        user-select: none;
        pointer-events: none;

        @include media-max-m {
            bottom: vwm(8px);
            padding: $spacing-12-m $spacing-12-m $spacing-12-m $spacing-20-m;
        }
    }

    ul {
        padding: 0 $spacing-8 0 0;

        @include media-max-m {
            padding: 0 $spacing-8-m 0 0;
        }

        li {
            list-style: none;
        }
    }

    &-list {
        overflow-y: auto;
        max-height: vw(243px);
        
        @include media-max-m {
            max-height: vwm(243px);
        }
        
    &::-webkit-scrollbar {
        width: vw(4px); 
        background: transparent;

        @include media-max-m {
            width: vwm(4px); 
        }
    }
    
    &::-webkit-scrollbar-track {
        background: $cosmo-light;
        border-radius: vw(16px);

        @include media-max-m {
            border-radius: vwm(16px);
        }
    }

    &::-webkit-scrollbar-thumb {
        width: vw(4px);
        background-color: $cosmo-accent; 
        border-radius: vw(16px); 

        @include media-max-m {
            width: vwm(4px); 
            border-radius: vwm(16px);
        }
    }
    }

    &-item {
        margin-top: vw(10px);

        &:first-child {
            margin-top: 0;
            padding-bottom: vw(10px);
            border-bottom: 1px solid $cosmo-light;
        }

        @include media-max-m {
            margin-top: vwm(10px);
            
            &:first-child {
                padding-bottom: vwm(10px);
            }
        }

        a {
            @include t-n-14-r($cosmo-light);
            text-decoration: none;
            display: flex;
            width: 100%;
            padding: vw(4px) $spacing-8;
            border-radius: vw(4px);
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $cosmo-dark;
                background: $cosmo-light-hover;
            }

            @include media-max-m {
                padding: vwm(4px) $spacing-8-m;
                border-radius: vwm(4px);

                &:hover {
                    color: $cosmo-light;
                    background: transparent;
                }
            }
        }
    }
}

.project {
    &-bottom {
        margin-top: $spacing-88;

        @include media-max-m {
            margin-top: $spacing-60-m;
        }

        &-wrapper {
            display: flex;
            justify-content: space-between;
            
            @include media-max-m {
                flex-wrap: wrap;
            }
        }

        &-btn {
            width: vw(170px);

            @include media-max-m {
                order: 3;
                width: 100%;
                margin-top: $spacing-32-m;
            }
        }

        &-link {
            @include t-a-14($cosmo-light);
            text-decoration: none;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            transition: all 0.3s ease;

            &:hover {
                color: $cosmo-accent;
            }

            @include media-max-m {
                line-height: vwm(32px);
                height: vwm(32px);

                &:hover {
                    color: $cosmo-light;
                }
            }

            &:first-child {
                svg {
                    margin-right: $spacing-16;
                    margin-left: 0;

                    @include media-max-m {
                        margin-right: $spacing-16-m;
                    }
                }
            }
            svg {
                width: vw(16px);
                height: vw(16px);
                margin-left: $spacing-16;
                margin-bottom: vw(4px);

                @include media-max-m {
                    width: vwm(16px);
                    height: vwm(16px);
                    margin-left: $spacing-16-m;
                    margin-bottom: vwm(4px);
                }
            }
        }
    }
}

.tooltip {
    position: relative;

    &.show {
        &::before {
            opacity: 1;
        }

        &::after {
            opacity: 1;
        }
    }
    
    &::before {
        content: attr(data-tooltip);
        position: absolute;
        z-index: 3;
        top: vw(-8px);
        left: 50%;
        transform: translate(-50%, -100%);
        @include t-n-12($cosmo-light);
        background: $color-black-70;
        padding: $spacing-8;
        border-radius: var(--border-radius-8);
        opacity: 0;
        user-select: none;
        pointer-events: none;
        transition: all 0.25s ease-in-out;

        @include media-max-m {
            top: vwm(-8px);
            padding: $spacing-8-m;
        }
    }

    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: vw(-8px);
        left: 50%;
        background: $color-black-70;
        width: vw(16px);
        height: vw(16px);
        transform: translate(-50%, -90%) rotate(45deg);
        opacity: 0;
        user-select: none;
        pointer-events: none;
        transition: all 0.2s ease-in-out;

        @include media-max-m {
            top: vwm(-8px);
            width: vwm(16px);
            height: vwm(16px);
        }
    }
}

.error-page {
    margin-top: $spacing-32;

    @include media-max-m {
        margin-top: $spacing-40-m;
    }

    &-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $spacing-32;

        @include media-max-m {
            padding: 0;
        }

        h1 {
            position: relative;
            z-index: 2;
            @include h-a-40($cosmo-light);
            margin-top: $spacing-64;

            @include media-max-m {
                margin-top: $spacing-16-m;
            }
        }

        p {
            position: relative;
            z-index: 2;
            @include t-a-14-r($cosmo-light);
            text-align: center;
            max-width: vw(400px);
            margin-top: $spacing-16;

            @include media-max-m {
                max-width: 100%;
                margin-top: $spacing-16-m;
            }
        }

        a {
            position: relative;
            z-index: 2;
            width: vw(244px);
            margin-top: $spacing-32;

            @include media-max-m {
                width: vwm(244px);
                margin-top: $spacing-32-m;
            }
        }
    }

    &-mask {
        position: relative;
        -webkit-clip-path: url(#error-text-path);
        clip-path: url(#error-text-path);
        width: vw(606px);
        height: vw(276px);
        background: $color-video;

        @include media-max-m {
            width: 100%;
            height: vwm(136px);
        }

        video {
            width: vw(616px);
            height: vw(286px);
            margin: -10px;
            object-fit: cover;
            opacity: 1;
            user-select: none;
            pointer-events: none;
            mix-blend-mode: soft-light;

            @include media-max-m {
                width: vwm(365px);
                height: vwm(156px);
            }
        }
    
        h2 {
            position: absolute;
            top: vw(-30px);
            left: vw(0px);
            width: 100%;
            height: vw(276px);
            font-family: "Ninito Sans", sans-serif;
            font-weight: 900;
            font-size: vw(302px);
            line-height: 100%;
            color: transparent;

            @include media-max-m {
                top: vwm(-60px);
                left: vwm(-50px);
                height: vwm(136px);
                font-size: vwm(178px);
            }
        }

        svg {
            width: 0;
            height: 0;
        }

        #error-text-path {
            width: 0;
            height: 0;
        }
    }
}

.detail {
    &-wrapper {
        display: flex;
        flex-direction: column;
    }

    &-content {

        :first-child {
            margin-top: 0 !important;
        }

        :last-child {
            margin-bottom: 0 !important;
        }

        figure {
            display: block;
            margin: $spacing-56 0;
            width: 100%;

            @include media-max-m {
                margin: $spacing-32-m 0;
            }

            figcaption {
                @include t-n-14-r($cosmo-light);
                max-width: vw(665px);
                margin: $spacing-8 auto 0 auto;

                @include media-max-m {
                    max-width: 100%;
                    margin: $spacing-16-m 0 0 0;
                }
            }
        }

        img {
            width: 100%;
            margin: 0;
            border-radius: var(--border-radius-8);
            object-fit: cover;
        }

        h3 {
            display: block;
            @include h-n-32-l($cosmo-light);
            max-width: vw(665px);
            margin: $spacing-56 auto  $spacing-32 auto;

            @include media-max-m {
                font-size: vwm(20px);
                max-width: 100%;
                margin: $spacing-32-m 0 $spacing-16-m 0;
            } 
        }

        h4, h5, h6 {
            display: block;
            @include h-n-24($cosmo-light);
            max-width: vw(665px);
            margin: $spacing-40 auto  $spacing-32 auto;

            @include media-max-m {
                max-width: 100%;
                margin: $spacing-32-m 0 $spacing-16-m 0;
            } 
        }

        p {
            display: block;
            @include t-n-16-r($cosmo-light);
            max-width: vw(665px);
            margin: $spacing-32 auto $spacing-32 auto;

            @include media-max-m {
                @include t-n-16($cosmo-light);
                max-width: 100%;
                margin: $spacing-16-m 0 $spacing-16-m 0;
            }
        }

        a {
            @include t-n-16-r($cosmo-light);
            transition: all 0.3s ease;

            &:hover {
                color: $cosmo-accent;
            }

            @include media-max-m {
                @include t-n-16($cosmo-light);

                &:hover {
                    color: $cosmo-light;
                }
            }
        }

        ul, ol {
            max-width: vw(665px);
            margin: $spacing-32 auto $spacing-32 auto;
            padding-left: vw(20px);

            @include media-max-m {
                max-width: 100%;
                padding-left: vwm(20px);
                margin: $spacing-16-m 0 $spacing-16-m 0;
            }
        }

        li {
            @include t-n-16-r($cosmo-light);

            @include media-max-m {
                @include t-n-16($cosmo-light);
            }
        }

        .quote {
            display: block;
            max-width: vw(665px);
            margin: $spacing-40 auto $spacing-40 auto;
            padding: $spacing-32 0;
            border-top: vw(1px) solid $cosmo-light;
            border-bottom: vw(1px) solid $cosmo-light;

            @include media-max-m {
                max-width: 100%;
                margin: $spacing-20-m 0 $spacing-20-m 0;
                padding: $spacing-24-m 0;
                border-top: vwm(1px) solid $cosmo-light;
                border-bottom: vwm(1px) solid $cosmo-light;
            }

            p {
                @include t-a-20($cosmo-light);
                text-align: center;
                margin: 0;
            }

            span {
                @include t-n-12($cosmo-light);
                text-align: center;
                display: inline-block;
                width: 100%;
                margin-top: $spacing-16;

                @include media-max-m {
                    margin-top: $spacing-16-m;
                }
            }
        }

        .table {
            overflow-x: auto;
            max-width: vw(665px);
            margin: $spacing-32 auto $spacing-32 auto;

            @include media-max-m {
                max-width: 100vw;
                width: 100vw;
                margin: $spacing-20-m 0 $spacing-20-m vwm(-15px);
                padding: 0 vwm(15px);
            }

            p {
                @include t-n-12($cosmo-light);
                margin: 0;

                @include media-max-m {
                    font-size: vwm(14px);
                }
            }

            table {
                width: 100%;
                margin-top: $spacing-12;
                border-spacing: 0;

                @include media-max-m {
                    margin-top: $spacing-12-m;
                }
                
                td, th {
                    @include t-n-12($cosmo-light);
                    padding: $spacing-16;
                    text-align: start;

                    @include media-max-m {
                        font-size: vwm(14px);
                        padding: $spacing-16-m;
                    }
                }

                th {
                    background: $cosmo-dark;
                    border: vw(1px) solid $cosmo-light;

                    @include media-max-m {
                        border: vwm(1px) solid $cosmo-light;
                    }
                }

                tr {
                    &:first-child {
                        td {
                            border-top: vw(1px) solid  $cosmo-light;
                            padding: $spacing-16-m;
                            background: $cosmo-dark;

                            @include media-max-m {
                                border-top: vwm(1px) solid  $cosmo-light;
                                padding: $spacing-16-m;
                            }
                        }
                    }

                    td {
                        border-bottom: vw(1px) solid  $cosmo-light;
                        border-right: vw(1px) solid  $cosmo-light;

                        &:first-child {
                            border-left: vw(1px) solid $cosmo-light;
                        }

                        &:last-child {
                            border-right: vw(1px) solid  $cosmo-light;
                        }

                        @include media-max-m {
                            border-bottom: vwm(1px) solid  $cosmo-light;
                            border-right: vwm(1px) solid  $cosmo-light;
    
                            &:first-child {
                                border-left: vwm(1px) solid $cosmo-light;
                            }
    
                            &:last-child {
                                border-right: vwm(1px) solid  $cosmo-light;
                            }
                        }
                    }
    
                    &:last-child {
                        td {
                            border-bottom: vw(1px) solid  $cosmo-light;
                            border-right: vw(1px) solid  $cosmo-light;

                            @include media-max-m {
                                border-bottom: vwm(1px) solid  $cosmo-light;
                                border-right: vwm(1px) solid  $cosmo-light;
                            }
                        }
                    }
                }

                tr:first-child th:first-child { border-top-left-radius: var(--border-radius-8); }
                tr:first-child th:last-child { border-top-right-radius: var(--border-radius-8); }
                tr:first-child td:first-child { border-top-left-radius: var(--border-radius-8); }
                tr:first-child td:last-child { border-top-right-radius: var(--border-radius-8); }
                tr:last-child td:first-child { border-bottom-left-radius: var(--border-radius-8); }
                tr:last-child td:last-child { border-bottom-right-radius: var(--border-radius-8); }
            }
        }
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        max-width: vw(665px);
        width: 100%;
        margin: $spacing-40 auto $spacing-56 auto;

        @include media-max-m {
            flex-direction: column-reverse;
            max-width: 100%;
            margin: $spacing-40-m 0 $spacing-32-m 0;
        }

        &-block {
            @include media-max-m {
                margin-top: $spacing-20-m;
            }

            p {
                @include t-n-16($cosmo-light);
            }
        }
    }
    
    &-socials {
        display: flex;
        margin-top: $spacing-16;

        @include media-max-m {
            margin-top: $spacing-16-m;
        }
    }

    &-social {
        display: flex;
        align-items: center;
        justify-content: center;
        width: vw(16px);
        height: vw(16px);
        margin-left: $spacing-16;

        @include media-max-m {
            width: vwm(16px);
            height: vwm(16px);
            margin-left: $spacing-16-m;
        }

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            svg {
                path {
                    fill: $cosmo-accent;
                }
            }
        }

        svg {
            width: vw(16px);
            height: vw(16px);

            @include media-max-m {
                width: vwm(16px);
                height: vwm(16px);
            }
            
            path {
                transition: all 0.3s ease;
            }
        }
    }

    &-name {
        @include t-n-12($cosmo-light);
    }
}

@import "template/main";
@import "template/news";
@import "template/support";
@import "template/about";
@import "template/contacts";
@import "template/product";